# Data Validation â€“ Online Retail Dataset

## Objective
Validate data quality, structure, and suitability for RFM-based customer segmentation and churn prediction.

## Dataset Schema and Data Types

Understanding column names, data types, and missing values is critical before performing any analysis or aggregation.
This step helps identify potential data quality issues early.

In [14]:
import pandas as pd

# Load dataset
file_path = "../data/raw/online_retail.xlsx"
df = pd.read_excel(file_path)

# Basic inspection
print("Dataset shape:", df.shape)
df.head()

Dataset shape: (525461, 8)

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,2009-12-01 07:45:00,6.95,13085.0,United Kingdom
1,489434,79323P,PINK CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
2,489434,79323W,WHITE CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48,2009-12-01 07:45:00,2.10,13085.0,United Kingdom
4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24,2009-12-01 07:45:00,1.25,13085.0,United Kingdom

In [15]:
df.info()

<class 'pandas.DataFrame'>
RangeIndex: 525461 entries, 0 to 525460
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   Invoice      525461 non-null  object
 1   StockCode    525461 non-null  object
 2   Description  522533 non-null  object
 3   Quantity     525461 non-null  int64
 4   InvoiceDate  525461 non-null  datetime64[us]
 5   Price        525461 non-null  float64
 6   Customer ID  417534 non-null  float64
 7   Country      525461 non-null  str
dtypes: datetime64[us](1), float64(2), int64(1), object(3), str(1)
memory usage: 32.1+ MB

## Data Quality Checks

The following checks are performed to assess data suitability for customer-level analysis and churn modeling:
- Missing customer identifiers
- Cancelled transactions
- Product returns
- Invalid pricing
- Transaction date range

In [16]:
# Missing Customer ID
print("Missing Customer ID:", df["Customer ID"].isna().sum())

# Cancelled invoices (Invoice starting with 'C')
cancelled = df["Invoice"].astype(str).str.startswith("C").sum()
print("Cancelled invoices:", cancelled)

# Returns (negative or zero quantity)
print("Returns:", (df["Quantity"] <= 0).sum())

# Invalid prices
print("Invalid prices:", (df["Price"] <= 0).sum())

# Date range
print("InvoiceDate range:", df["InvoiceDate"].min(), "to", df["InvoiceDate"].max())

Missing Customer ID: 107927
Cancelled invoices: 10206
Returns: 12326
Invalid prices: 3690
InvoiceDate range: 2009-12-01 07:45:00 to 2010-12-09 20:01:00

## Key Findings

- A significant number of transactions have missing customer identifiers, indicating guest checkouts. These records will be excluded from customer-level analysis.
- Cancelled invoices and product returns are present, which is expected in real-world e-commerce data and will be addressed during the data cleaning phase.
- The dataset spans multiple months, making it suitable for churn analysis using a 90-day inactivity window.
\

In [17]:
df.columns = df.columns.str.replace(" ", "_")